.Page {
    position: relative;;
}

.status {
    position: absolute;
    right: 0;
    width: 30px;
}

.status img {
    width: 100%;
}

.title {
    color: #4A4A4A;
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
    margin-bottom: 29px;
}

.title i {
    margin: 0 20px 0 0;
}

.title i:hover {
    color: #4A90E2;
    cursor: pointer;
}

.top {
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
}

.howToAdd {
    color: #4A90E2;
    font-family: Ubuntu;
    font-size: 16px;
    display: block;
}

.categoryList {
    width: 25%;
    border: 1px solid #ECECEC;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin-right: 29px;
}

.dropdownMenu {
    height: 767px;
    width: 836px;
    padding: 25px;
    border: 1px solid #ECECEC;
    border-radius: 5px;
    background-color: #FFFFFF;
    /*display: flex;*/
}

.dropdownMenu h5 {
    color: #4A4A4A;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
}

.dropdownMenuList {
    display: flex;
    width: 100%;
    /*flex-direction: column;*/
    align-items: center;
}

.dropdownMenu ul li a {
    display: block;
}

.productName img {
    width: 80px;
    margin: 0 20px 0 0;
}

.categories {
    display: flex;
}

.categoriesBlock {
    flex: 1;
    width: 80%;
    border: 1px solid #ECECEC;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 34px 30px;
}

.actions {
    display: flex;
}

.addToMyProducts {
    height: 40px;
    width: 234px;
    border-radius: 5px;
    background-color: #B1B1B1;
    color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    margin-right: 20px;
}

.downloadExel {
    height: 40px;
    width: 206px;
    border-radius: 5px;
    background-color: #4A90E2;
    color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    margin-right: 20px;
}

.search {
    display: flex;
    width: 100%;
    position: relative;
    width: 297px;
}

input[type=search] {
    height: 41px;
    width: 297px;
    padding-left: 20px;
    border: 1px solid #ECECEC;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin-bottom: 25px;
    position: relative;
}

input[type=submit] {
    position: absolute;
    right: 0;
    height: 40px;
    width: 45px;
    border-radius: 5px;
    background-color: #4A90E2;
    background-image: url("../../../img/search.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.historyPage {
    width: 100%;
    padding: 25px;
    background: #fff;
}

.fileBlock {
    margin: 20px 0;
    padding: 0 30px 0 0;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.fileName {
    color: #000;
    font-size: 12px;

    display: flex;
    flex-direction: column;
}

.errorsBlock {
    margin: 10px 0 0 20px;
    color: #4F4F4F;
}

.icon {
    color: green;
    font-size: 20px;
}

.removeBtn {
    position: absolute;
    bottom: 50px;
}

/* Filter */
.filter {
    padding: 30px 0 0 0;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.filter label {
    color: #4A4A4A;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    display: block;
    margin-bottom: 8.5px;
}

.filter .code,
.filter .vendorCode {
    height: 31px;
    width: 108px;
    border: 1px solid #B2B2B2;
    border-radius: 3px;
    background-color: #FFFFFF;
}

.filter .productName {
    height: 31px;
    width: 126px;
    border: 1px solid #B2B2B2;
    border-radius: 3px;
    background-color: #FFFFFF;
}

.filter .category {
    height: 31px;
    width: 157px;
    border: 1px solid #B2B2B2;
    border-radius: 3px;
    background-color: #FFFFFF;
}

.filter .availability {
    height: 31px;
    width: 107px;
    border: 1px solid #B2B2B2;
    border-radius: 3px;
    background-color: #FFFFFF;
}

.filter .priceMin,
.filter .priceMax {
    height: 31px;
    width: 80px;
    border: 1px solid #B2B2B2;
    border-radius: 3px;
    background-color: #FFFFFF;
}

.find {
    height: 40px;
    width: 169px;
    border-radius: 5px;
    background-color: #4A90E2;
    color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    margin-top: 20px;
    display: block;
}

.totalProducts {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 0 auto;

}