* {
    outline: none;
}
.mainInfo {
    background: #000;
}
.mainInfo form {
    background: #fff;
}

.mainInfo form label {
    color: #4A4A4A;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    display: block;
    margin-bottom: 10px;
}

.formInputs {
    width: 532px;
    margin-right: 68.5px;
    padding: 0 29px;
}

form.userMainInfo {
    display: flex;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"] {
    height: 41px;
    width: 100%;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    background: #fff;
    padding-left: 20px;
    margin-bottom: 17.5px;
}


.userInfo {
    padding-top: 30px;
}

.ChangeAvatar {
    display: flex;
    margin-bottom: 53px;
}

.userAvatar {
    height: 200px;
    width: 200px;
    margin-right: 29px;
}
.userAvatar img {
    width: 100%;
}



.ChangeAvatar h3 {
    color: #4A4A4A;
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 30px;
}

.userAvatarInfo {
    width: 261px;
}
.ChangeAvatar  span {
    color: #9B9B9B;
    font-family: Ubuntu;
    font-size: 14px;
    line-height: 20px;
    display: block;
    margin-bottom: 63px;
}

.btnPrimary,
.save {
    height: 40px;
    width: 261px;
    border-radius: 5px;
    background-color: #4A90E2;
    color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
}
.EmailNotifications {
    margin-bottom: 33px;
}
.EmailNotifications div,
.smsNotifications div {
    display: flex;
    margin-bottom: 10px;
    /*align-items: center;*/
}

.EmailNotifications h3 {
    color: #4A4A4A;
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
}
.EmailNotifications input[type="checkbox"],
.smsNotifications input[type="checkbox"] {
    margin-right: 19px;
}
.EmailNotifications  label
.smsNotifications  label {
    color: #969696 !important;
    font-family: Ubuntu;
    font-size: 16px;
    /*line-height: 18px;*/
}

.smsNotifications h3 {
    color: #4A4A4A;
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
}
.smsNotifications span {
    color: #969696;
    font-family: Ubuntu;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 17px;
    display: block;
}

.smsNotifications {
    margin-bottom: 37px;
}

.save {
    margin-left: auto;
    display: block;
}

.referralProgram {
    padding: 0 66px 0 29px;
    background: #fff;
}

.referralProgram h5 {
    color: #4A4A4A;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
}

.copyLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}
.copyLink input {
    height: 41px;
    width: 532px;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    background-color: #FFFFFF;
    padding-left: 20px;
}


.ant-table table {
    text-align: center !important;
}


