.Form {
    margin: 10% auto;

    height: 434px;
    width: 691px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 27px 30px 58px 30px;
}

.loginFormButton {
    display: block;
    height: 40px;
    width: 261px;
    border-radius: 5px;
    background-color: #4A90E2;
    color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
}

.title {
    color: #4A4A4A;
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 25px;
    margin-bottom: 23px;
}
.Form label {
    color: #4A4A4A;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    margin-bottom: 9.5px;
    display: block;
}

.reset {
    color: #719DCC;
    font-family: Ubuntu;
    font-size: 16px;
    line-height: 18px;
    display: block;
    margin-left: auto;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reset {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 26px;
    margin-left: auto;
    margin-bottom: 30px;
}
.registration {
    color: #699BD1;
    font-family: Ubuntu;
    font-size: 16px;
    line-height: 18px;
}