.Form {
    display: flex;
    justify-content: space-between;
}


.firstColumn {
   flex: 1;
    margin: 0 25px 0 0;
}

.secondColumn {
    flex: 1;
    margin: 0 0 0 25px;
}

.CheckboxGroup {
    display: flex;
    flex-direction: column;
}

.documentBlock {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.documentBlock i {
    font-size: 30px !important;
    color: #4A90E2;
    cursor: pointer;
}