.navigationBar {
  max-width: 226px;
  border: 1px solid #ececec;
  background: #fff;
  min-height: 100%;
  position: relative;
}

.leftNavigation {
  width: 226px !important;
}

.navButton {
  position: absolute;
  top: -55px;
  width: 50px;
  font-size: 30px;
  margin: 0 0 0 10px;
  cursor: pointer;
}

.navigationBar a.menuItem {
  height: 60px;
  width: 225px;
  display: flex;
  align-items: center;
  background-color: #065467;
  color: #86c7d8;
  font-family: Ubuntu;
  font-size: 15px;
  line-height: 17px;
  text-decoration: none;
  padding-left: 15px;
}
.navigationBar a.menuItem img {
  margin: 0 15px 0 0;
}

.navigationBar a.menuItem:hover,
.navigationBar a.menuItem:focus {
  color: #14b5db;
  font-family: Ubuntu;
  font-size: 15px;
  font-weight: bold;
}

.navigationBar a.menuItem div {
  display: flex;
}
.navigationBar a.menuItem .active-icon {
  display: none;
}
