.navigationBar {
  max-width: 226px;
  /* border: 1px solid #ececec; */
  background: #fff;
  min-height: 100%;
  position: relative;
}

.leftNavigation {
  width: 226px !important;
}

.navButton {
  position: absolute;
  top: -55px;
  width: 50px;
  font-size: 30px;
  margin: 0 0 0 10px;
  cursor: pointer;
  color: #fff;
}

.navigationBar a.menuItem {
  height: 60px;
  width: 225px;
  display: flex;
  align-items: center;
  background-color: #003367;
  color: #068fdd;
  font-family: NoirPro;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  padding-left: 15px;
}
.navigationBar a.menuItem img {
  margin: 0 15px 0 0;
}

.navigationBar a.menuItem:hover,
.navigationBar a.menuItem:focus {
  color: #fa8d15;
}
.Selected {
  color: #fa8d15;
}

.navigationBar a.menuItem div {
  display: flex;
}
.navigationBar a.menuItem .active-icon {
  display: none;
}
