.title {
    color: #4A4A4A;
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
    margin-bottom: 34px;
}
.balanceInfo {
    padding: 30px 25px;
    display: flex;
    background: #fff;
    border: 1px solid #ececec;
    border-bottom: none;
    border-top: none;
}
.balanceInfo h5 {
    color: #4A4A4A;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    margin-bottom: 8px;
}
.paidForPeriod {
    margin-right: 39px;
}
.paidForPeriod span {
    color: #4A90E2;
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
}
.ordersInProcessed span {
    color: #F19300;
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
}
.ordersInProcessed {
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    padding: 0 39px;
    margin-right: 39px;
}
.availableForPayment {
    margin-right: 38px;
}
.availableForPayment span {
    color: #019D45;
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
}
.withdraw ,
.replenish {
    height: 40px;
    width: 145px;
    border-radius: 5px;
    background-color: #4A90E2;
    color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    margin-right: 15px;
}

.transactionHistory {
    background: #ffffff;
    margin-bottom: 27px;
    padding: 24px;
    border: 1px solid #ececec;
    border-top: none;
}
.settlementTable {
    background: #fff;
    padding: 24px;
    border: 1px solid #ececec;
}

.orderType {
    height: 31px;
    width: 164px;
    border: 1px solid #B2B2B2;
    border-radius: 3px;
    background-color: #FFFFFF;
}
.orderNumber {
    height: 31px;
    width: 147px;
    border: 1px solid #B2B2B2;
    border-radius: 3px;
    background-color: #FFFFFF;
    padding-left: 20px;
}

.orderDate {
    height: 31px;
    width: 31px;
    border: 1px solid #B2B2B2;
    border-radius: 3px;
    background-color: #FFFFFF;
}

.bill {
    display: flex;
    background: #fff;
    align-items: flex-end;
    padding: 20px 24px 55px 24px;
    margin-bottom: 24px;
    border: 1px solid #ECECEC;
    border-top: none;
}
.bill input[type=date] {
    height: 31px;
    width: 112px;
    border: 1px solid #B2B2B2;
    border-radius: 3px;
    background-color: #FFFFFF;
    color: #E2E2E2;
    font-family: Ubuntu;
    font-size: 16px;
    line-height: 18px;
    padding-left: 10px;
    margin-right: 25px;
}
.bill select {
    height: 31px;
    width: 130px;
    border: 1px solid #B2B2B2;
    border-radius: 3px;
    background-color: #FFFFFF;
    margin-right: 19px;
}
.accountNumber {
    height: 31px;
    width: 184px;
    border: 1px solid #B2B2B2;
    border-radius: 3px;
    background-color: #FFFFFF;
    padding-left: 20px;
    margin-right: 19px;
}
.orderPrice {
    height: 31px;
    width: 112px;
    border: 1px solid #B2B2B2;
    border-radius: 3px;
    background-color: #FFFFFF;
    padding-left: 20px;
    margin-right: 25px;
}
.find {
    height: 40px;
    width: 169px;
    border-radius: 5px;
    background-color: #4A90E2;
    color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    display: block;
}
.invoiceForPayment {
    background: #fff;
    padding: 24px;
}
.download {
    border: none;
    background: transparent;
}
.salesReport {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 24px 55px 20px;
    border: 1px solid #ECECEC;
    border-top: none;
    margin-bottom: 24px;
}
.salesReport h4 {
    color: #4A4A4A;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    margin-bottom: 14px;
}
.salesReport input[type=date] {
    height: 31px;
    width: 151px;
    border: 1px solid #B2B2B2;
    border-radius: 3px;
    background-color: #FFFFFF;
    padding-left: 10px;
    margin-right: 27px;
    color: #E2E2E2;
    font-family: Ubuntu;
    font-size: 16px;
    line-height: 18px;
}
.salesReporttable {
    background: #fff;
    padding: 24px;
    border: 1px solid #ECECEC;
}

.empty {
    height: 31px;
}