.title {
    color: #4A4A4A;
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
    margin-bottom: 27px;
}

.instructionBlock {
    height: auto;
    width: 100%;
    border: 1px solid #ECECEC;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 25px 86px 25px 99px;
}

.userAvatar {
    height: 50.83px;
    width: 50.83px;
    margin-right: 10px;
}

.userAvatar img {
    width: 100%;
}

.user {
    display: flex;
    margin-bottom: 33px;
}

.name {
    color: #4A4A4A;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: bold;
    line-height: 15px;
    display: block;
}

.date {
    color: #9B9B9B;
    font-family: Ubuntu;
    font-size: 10px;
    line-height: 11px;
}

.video {
    height: 419px;
    width: 702px;
    margin-bottom: 44px;
}

.instructionBlock p {
    color: #808080;
    font-family: Ubuntu;
    font-size: 16px;
    line-height: 23px;
}

.img1 {
    height: 741px;
    width: 971px;
    margin-bottom: 38px;
}

.img1 img {
    width: 100%;
    object-fit: cover;
}

.img2 {
    height: 551px;
    width: 691px;
    margin-bottom: 38px;
}

.img2 img {
    width: 100%;
    object-fit: cover;
}

.img3 {
    height: 361px;
    width: 971px;
    margin-bottom: 43px;
}

.img3 img {
    width: 100%;
    object-fit: cover;
}

.img4 {
    height: 549px;
    width: 691px;
    margin-bottom: 39px;
}

.img4 img {
    width: 100%;
    object-fit: cover;
}

.img5 {
    height: 301px;
    width: 691px;
    margin-bottom: 39px;
}

.img6 {
    height: 301px;
    width: 691px;
    margin-bottom: 39px;
}

.img7 {
    width: 691px;
}

.link {
    display: block;
    width: max-content;
    font-size: 20px;
    margin: 20px auto;
    text-align: center;
}