.Form {
    margin: 40px auto;
    height: 362px;
    width: 691px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 24px 30px;
}

.loginFormButton {
    display: block;

    height: 40px;
    width: 261px;
    border-radius: 5px;
    background-color: #4A90E2;
    color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
}
.title {
    color: #4A4A4A;
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
    padding-bottom: 25px;
    border-bottom: 1px solid #E2E2E2;
    margin-bottom: 29px;
}
.Form p {
    color: #9B9B9B;
    font-family: Ubuntu;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
}
.Form label {
    color: #4A4A4A;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    margin-bottom: 9.5px;
    display: block;
}

.actions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
}
.regBtn {
    height: 40px;
    width: 210px;
    border-radius: 5px;
    background-color: #4A90E2;
    color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    color: #434343;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 30px;
}
.logo img {
    margin: 0 18px 0 0;
}

header {
    display: flex;
    justify-content: space-between;
    border: 1px solid #E2E2E2;
}


/*Media*/

@media screen and (max-width: 768px) {
    .Form {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .Form {
        height: auto;
    }
    .actions {
        margin-top: 0;
        justify-content: center;
    }
    .actions a {
        margin-bottom: 10px;
    }
    .title {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 15px;
        padding-bottom: 15px;
    }
}
