.title {
    color: #4A4A4A;
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
    margin-bottom: 34px;
}

.title i {
    margin: 0 20px 0 0;
}
.title i:hover {
    color: #4A90E2;
    cursor: pointer;
}
.uploadList {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 400px;
    border-radius: 5px;
    background-color: #4A90E2;
    color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 43px;
}
.management {
    background: #fff;
    padding: 35px 27px;
}
.management h3 {
    color: #4A4A4A;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    margin-bottom: 38px;
}
.categories {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.categories label {
    color: #808080;
    font-family: Ubuntu;
    font-size: 14px;
    line-height: 16px;
    display: block;
    margin-bottom: 9px;
}
.categories select {
    height: 41px;
    width: 294px;
    border: 1px solid #B2B2B2;
    border-radius: 3px;
    background-color: #FFFFFF;
    margin-right: 16px;
}
.export {
    height: 40px;
    width: 280px;
    border-radius: 5px;
    background-color: #4A90E2;
    color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    margin-left: 27px;
}

.priceList {
    background: #fff;
    padding: 35px 27px;
    display: flex;
    margin-bottom: 36.5px;
}
.priceList p {
    color: #808080;
    font-family: Ubuntu;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 22px;
}
.copyLink {
    color: #808080;
    font-family: Ubuntu;
    font-size: 14px;
    line-height: 16px;
    display: block;
    margin-right: 67px;
}
.copyLink img {
    margin-right: 14px;
}

.priceList label {
    color: #808080;
    font-family: Ubuntu;
    font-size: 14px;
    line-height: 16px;
    display: block;
    margin-bottom: 9.5px;
}
.priceList input {
    height: 41px;
    width: 506px;
    border: 1px solid #B2B2B2;
    border-radius: 3px;
    background-color: #FFFFFF;
    padding-left: 20px;
}
.delete {
    height: 40px;
    width: 169px;
    border-radius: 5px;
    background-color: #C45151;
    color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
}
.downloadBtn {
    height: 40px;
    width: 169px;
    border-radius: 5px;
    background-color: #4A90E2;
    color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;

}

.priceAction {
    display: flex;
    align-items: flex-end;
}
.url {
    margin-right: 41.5px;
}
.delete {
    margin-right: 20px;
}
.priceListTable {
    background: #fff;
    padding: 31.5px 29px;
}


/* Filter */
.filter {
    padding: 30px 0 0 0;
    background: #fff;
    display: flex;
    /*justify-content: space-between;*/
    align-items: flex-end;
}

.filter label {
    color: #4A4A4A;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    display: block;
    margin-bottom: 8.5px;
}

/*.filter .code,*/
/*.filter .vendorCode {*/
/*height: 31px;*/
/*width: 108px;*/
/*border: 1px solid #B2B2B2;*/
/*border-radius: 3px;*/
/*background-color: #FFFFFF;*/
/*}*/

.filter .productName {
    height: 31px;
    width: 100%;
    border: 1px solid #B2B2B2;
    border-radius: 3px;
    background-color: #FFFFFF;
    padding: 0 0 0 5px;
}

.filter > div {
    margin: 0 20px 0 0;
    display: flex;
    flex-direction: column;
}

.filter .category {
    width: 100%;
    border-radius: 3px;
    background-color: #FFFFFF;
}

.filter .nameProduct {
    width: 24%;
}
.filter .vendorCode {
    width: 8%;
}
.filter .brand {
    width: 13%;
}
.filter .category {
    width: 25%;
}

.filter .availability {
    height: 31px;
    border: 1px solid #B2B2B2;
    border-radius: 3px;
    background-color: #FFFFFF;
}

.filter .priceMin,
.filter .priceMax {
    height: 31px;
    width: 80px;
    border: 1px solid #B2B2B2;
    border-radius: 3px;
    background-color: #FFFFFF;
}

.find {
    height: 40px;
    width: 169px;
    border-radius: 5px;
    background-color: #4A90E2;
    color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    margin-top: 20px;
    display: block;
}

.totalProducts {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 0 auto;

}

 .inactiveGoodsTable {
     background: #fff;
     padding: 31px 30px;
 }

 .productsBtns  {
     margin-bottom: 44px;
     display: flex;
     flex-wrap: wrap;
 }
 .actbtn {
     border-radius: 5px;
     background-color: #4A90E2;
     padding: 10px 26px;
     color: #FFFFFF;
     font-family: Ubuntu;
     font-size: 16px;
     font-weight: bold;
     line-height: 22px;
     margin-right: 20px;
 }


 .mainInfo {
     padding-top: 30px;
 }

 .mainInfo label {
     color: #4A4A4A;
     font-family: Ubuntu;
     font-size: 14px;
     font-weight: bold;
     line-height: 19px;
     margin-bottom: 10px;
     display: block;
 }

.mainInfo input[type=text],
.mainInfo input[type=number]
{
    height: 41px;
    width: 287px;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    background-color: #FFFFFF;
}
.inputsGroup {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.mainInfo textarea {
    height: 131px;
    width: 100%;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    background-color: #FFFFFF;
    resize: none;
    padding: 10px 20px;
    margin-bottom: 17px;
}
 .save {
    height: 40px;
    width: 187px;
    border-radius: 5px;
    background-color: #4A90E2;
    color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    display: block;
    margin-left: auto;
}

.selectCategory,
.selectPrice,
.addPicture {
    padding-top: 31px;
}
 .selectCategory label,
 .selectPrice label {
     color: #4A4A4A;
     font-family: Ubuntu;
     font-size: 14px;
     font-weight: bold;
     line-height: 19px;
     margin-bottom: 10px;
     display: block;
 }
.selectCategory select {
    height: 41px;
    width: 100%;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    background-color: #FFFFFF;
    margin-bottom: 15px;
}
.addPicture input[type=file] {
    display: none;
}

.addPicture label {
    height: 40px;
    width: 226px;
    border-radius: 5px;
    background-color: #4A90E2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
}
.upload {
    display: flex;
    justify-content: space-between;
}
.addUrl {
    position: relative;
    margin-bottom: 48px;
}
.addUrl input[type=text] {
    height: 41px;
    width: 362px;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    background-color: #FFFFFF;
    padding-left: 20px;
    position: relative;
}
.addUrlBtn {
    height: 40px;
    width: 170px;
    border-radius: 5px;
    background-color: #4A90E2;
    color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    position: absolute;
    right: 0;
}
.uploadInfo {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.uploadInfo span {
    width: 250px;
}

.download {
    height: 40px;
    width: 187px;
    border-radius: 5px;
    background-color: #4A90E2;
    color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
}

.addYml {
    height: auto;
    width: 284px;
    background-color: #FFFFFF;
    position: relative;
}
.addYml .top {
    padding:10px;
    border-bottom: 1px solid #E2E2E2;
}

.addYml h5 {
    color: #4A4A4A;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    text-align: center;
}
.addYml label {
    color: #4A4A4A;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    display: block;
    margin-bottom: 11px;
}
.addYml div div {
    position: relative;
}
.addYml input {
    height: 31px;
    width: 100%;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    padding-left: 3px;
    position: relative;
}
.YMLbtn {
    height: 40px;
    width: 206px;
    border-radius: 5px;
    background-color: #4A90E2;
    color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    margin-right: 20px;
}

.addYml .body {
    padding: 13.5px;
}

.addYml .copy {
    height: 30px;
    width: 90px;
    border-radius: 3px;
    background-color: #4A90E2;
    color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.addYml:after {
    content: '';
    position: absolute;
    top: -24px;
    left: 50px;
    border: 10px solid transparent;
    border-bottom: 10px solid #fff;
}