* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    max-width: 100% !important;
    overflow: hidden;
    overflow-y: auto;
}

body {
    background-color: #FAFAFA;
}

a.active {
    color: #fff !important;
    background-color: #4A90E2;
}

.container {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
}

.wrap {
    display: flex;
}

.admin-content {
    background: #FAFAFA;
    width: 100%;
    height: 100%;
    padding: 30px;
}

.ant-table-thead > tr > th {
    background: #fff;
}

.active-icon {
    display: none;
}

.active .default-icon {
    display: none !important;
}

.active .active-icon {
    display: block !important;
    color: #fff;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    background: #fff;
    color: #4F4F4F;
    font-family: Ubuntu;
    font-size: 16px;
    line-height: 18px;
    position: relative !important;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header:active,
.ant-collapse > .ant-collapse-item > .ant-collapse-header:focus,
.ant-collapse > .ant-collapse-item > .ant-collapse-header:visited {
    background: #4A90E2;
    color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
}

.react-daypicker-root {
    width: 100%;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 30px;
}

.react-daypicker-root table {
    width: 100%;
}

.react-daypicker-root .header {
    margin-bottom: 30px;
    /*padding-bottom: 20px;*/
}

.ant-modal-title {
    color: #4A4A4A;
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
}

.ant-modal-content {
    padding: 23px 30px;
}

.ant-tabs-bar {
    margin: 0;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
    margin-right: 0;
    background: #ffffff;
}

.ant-modal-content {
    width: 691px;
    border: 1px solid #ECECEC;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.ant-modal-body {
    padding: 26px 0;
}

.ant-modal-header {
    padding: 0 0 25px 0;
}

.ant-table-body {
    overflow: scroll;
    padding: 0;
}

.ant-upload {
    height: 30px;
    width: 30px;
    background-color: #4A90E2;
}

.ant-menu-sub {
    width: 100%;
}

.ant-tabs-bar {
    border-bottom: none;
    /*margin-bottom: 30px;*/
}

/*TABS*/
.ant-tabs-content {
    background: #fff;
    border: 1px solid #ECECEC;
    padding: 25px;
}

/*FORM*/
.ant-form-item {
    margin: 0;
}

.ant-checkbox-wrapper + .ant-checkbox-wrapper {
    margin: 0;
}

.ant-form-item-control {
    /*line-height: 0;*/
}

.btn {
    height: 40px;
    width: 206px;
    border-radius: 5px;
    background-color: #4A90E2;
    color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    margin-right: 20px;
}

.edit-btn {
    height: 30px;
    width: max-content;
    padding: 0 10px;
    font-size: 14px;
}

.btn button {
    height: 40px;
    width: 206px;
    border-radius: 5px;
    background-color: #4A90E2;
    color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    margin-right: 20px;
}

.btn:hover {
    background-color: #3870af !important;
    cursor: pointer;
}

button:disabled {
    background-color: #B1B1B1 !important;
    color: #FFFFFF;
}

button:disabled:hover {
    background-color: #B1B1B1 !important;
    color: #FFFFFF;
    cursor: no-drop;
}

.btn-remove {
    border-radius: 5px;
    background-color: #e20013;
    padding: 10px 15px;
    color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    margin-right: 20px;
}

.product-avatar {
    height: 100px;
    display: flex;
}

.product-avatar img {
    width: 80px;
    margin: 0 20px 0 0;
}

.ant-select-selection--single {
    height: 46px;
    width: 630px;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    background-color: #FFFFFF;
    /*margin-bottom: 42px;*/
}

.ant-menu-vertical {
    border: 0 !important;
}

.ant-menu-submenu-arrow {
    right: 0 !important;
}

/*modal*/

.modal .ant-tabs-content {
    padding: 0 16px !important;
    border: 0 !important;
}

.modal .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
    border: 0 !important;
}

.ant-modal-confirm-success {
    width: max-content !important;
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto !important;
    height: 300px;
}

/*orders*/
.order-description {
    display: flex;
}